{
    "validThis": true, 
    "ecmaFeatures": {
        "modules": true,
        "spread" : true,
        "restParams" : true
    },
    "env" : {
        "browser" : true,
        "node" : true,
        "es6" : true
    },
    "rules" : {
        "no-unused-vars" : 2,
        "no-undef" : 2,
        "semi" : "warn"
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "devDependencies": {
  "eslint-utils": ">=1.4.1"
    }
}
